body            { font-family: sans-serif;}
a               { color: #377bf8 }
a:hover 	{ color: #245682; text-decoration: underline; }
h1, h2          { font-family: 'Roman', serif; color: #25383C; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.banner h2 img  {display: inline; width=300%; }
.page           { margin: 1em auto; width: 900 em; border: 5px solid #3d3d42;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.navigation ul  { text-align:center; background: #fafafa; padding: 0.3}
.navigation li  { font-size: 1.25em; display: inline;
                  margin-bottom: 1em; background: #fafafa; list-style: none;}
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.fblogo {
   display: inline-block; 
   margin-left: auto;
   margin-right: auto;
}

#images{
   text-align:center;
}

.error          { background: #f0d6d6; padding: 0.5em; }
