{% extends "layout.html" %}
{% block body %}

<style>
body {font: 12px Arial;}
path {
  stroke: steelblue;
  stroke-width: 2;
  fill : none;
}
.axis path,
.axis line { 
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: cripsEdges;
}
</style>
<h2> Grain Boundary Analysis </h2>
<h3> Energy-Orientation Angle Relationship </h3>
<h3> <a href='?or_axis=001'> 001 </a> </h3> 
<h3> <a href='?or_axis=110'> 110 </a> </h3> 
<h3> <a href='?or_axis=111'> 111 </a> </h3>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
// http://bl.ocks.org/d3noob/b3ff6ae1c120eea654b5
// Set dimensions of canvas
$( document ).ready(function() {
var margin = {top:30, right: 20, bottom: 30, left: 50},
    width  = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
// Set the DISPLAY ranges
var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);
// Set the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(10);
var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(30);
// Adds the svg canvas
var svg = d3.select("body")
    .append("svg")
    .attr("width",  width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

var data = jQuery.parseJSON('{{ gbdat|safe }}');
x.domain(d3.extent(data, function(d) { return d.angle; }));
y.domain(d3.extent(data, function(d) { return d.min_en;}));
var valueline = d3.svg.line()
    .x(function(d) { return x(d.angle); })
    .y(function(d) { return y(d.min_en); });

svg.append("text")
  .attr("x", width/2)
  .attr("y", height+margin.bottom)
  .text("Orientation Angle");

svg.append("text")
       .attr("transform", "rotate(-90)")
       .attr("y", -1.*margin.left)
       .attr("x", -1.*(height/2))
       .attr("dy", "1em")
       .style("text-anchor", "middle")
       .text("Energy (J/m2)");

svg.append("path")
  .attr("class", "line")
  .attr("d", valueline(data));

svg.selectAll(".dot")
    .data(data)
  .enter().append("circle")
    .attr("class", "dot")
    .attr("r", 3.5)
    .attr("cx", (data, function(d) {return x(d.angle); }))
    .attr("cy", (data, function(d) {return y(d.min_en); }))
    .on("mouseover", function(d){
      tooltip.transition()
        .duration(200)
        .style("opacity", 0.9)
      tooltip.html(d.or_axis+" "+d.bp)
    })
    .on("mouseout", function(d) {
      tooltip.transition()
        .duration(500)
        .style("opacity",0)
    });

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);
//
svg.append("g")
  .attr("class", "y axis")
  .call(yAxis)
  });
</script>
{% endblock body %}

