{% extends "layout.html" %}
{% block body %}
<style>
body {font: 12px Arial;}
path {
  stroke: steelblue;
  stroke-width: 2;
  fill : none;
}
.axis path,
.axis line { 
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: cripsEdges;
}
.legend {
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
}
.tooltip{
  position: absolute;
  text-align: center;
  font:10px sans-serif;
  width: 60 px;
  height: 28 px;
  padding: 2px;
  background: lightsteelblue;
}

</style>

<h2> Grain Boundary Analysis </h2>
<h3> Energy-Orientation Angle Relationship </h3>
<h3> <a href='?or_axis=001'> 001 </a> </h3> 
<h3> <a href='?or_axis=110'> 110 </a> </h3> 
<h3> <a href='?or_axis=111'> 111 </a> </h3>

<script>
// http://bl.ocks.org/d3noob/b3ff6ae1c120eea654b5
// Set dimensions of canvas
$( document ).ready(function() {
  var margin = {top:30, right: 100, bottom: 80, left: 50},
      width  = 800 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

// Set the DISPLAY ranges
  var x = d3.scale.linear().range([0, width]);
  var y = d3.scale.linear().range([height, 0]);

// Set the axes
  var xAxis = d3.svg.axis().scale(x)
      .orient("bottom").ticks(10);

  var yAxis = d3.svg.axis().scale(y)
      .orient("left").ticks(30);

// Adds the svg canvas
  var svg = d3.select(".page")
      .append("svg")
      .attr("width",  width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  var tooltip = d3.select(".page")
        .append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);
//DATA
  var data = jQuery.parseJSON('{{ gbdat|safe }}');
  var valueline = d3.svg.line()
        .interpolate("cardinal")
        .x(function(d) { return x(d.angle); })
        .y(function(d) { return y(d.min_en); });

//  y.domain(d3.extent(data, function(d) { return d.min_en; }));
//  x.domain(d3.extent(data, function(d) { return d.angle;  }));
  x.domain([0.0, d3.max(data, function(d) { return d.angle;  })]);
  y.domain([0.0, d3.max(data, function(d) { return d.min_en;  })]);

  svg.append("text")
    .attr("x", width/2)
    .attr("y", height+margin.top+15)
    .text("Orientation Angle");

  svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", -1.*margin.left)
    .attr("x", -1.*(height/2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Energy (J/m2)");

  var dataByPot = d3.nest()
    .key(function(d) {return d.param_file})
    .entries(data);

  var color = d3.scale.category10()

  dataByPot.forEach(function(d,i){
    svg.append("path")
    .attr("class", "line")
    .attr("d", valueline(d.values))
    .attr("id", 'tag'+d.key.replace(/[\.\+,\s+\/]/g,''))
    .style("stroke", function(){
          return d.color = color(d.key)})

  svg.selectAll("dot")
    .data(d.values)
	  .enter()
      .append("a")
        .attr("xlink:href", function(d) {return d.url;}) 
        .append("circle")
          .attr("id", 'tag'+d.key.replace(/[\.\+,\s+\/]/g,''))
	        .attr("class", "dot")
	        .attr("cx", (d.values, function(d) {return x(d.angle); }))
	        .attr("cy", (d.values, function(d) {return y(d.min_en); }))
	        .attr("r", 3.5)
          .style("fill", function(){return d.color = color(d.key) })
	        .on("mouseover", function(d){
	          tooltip
              .transition()
	            .duration(200)
	            .style("opacity", 1.0)
              .style("left", +"px")
              .style("top",  +"px")
              .style("left", 8.0*margin.left  +"px")
              .style("top",  1.5*height +"px")
	          tooltip
              .html("<p> or: "+d.or_axis + "</p> <p> bp: "+d.bp+"</p>"
                      +"<p> Angle: " + Math.round(d.angle*100)/100 + "</p>"
                      +"<p> Energy: "+ Math.round(d.min_en*1000)/1000 + " J/m^2 </p>")
	           })
	    .on("mouseout", function(d) {
	      tooltip.transition()
	        .duration(1500)
	        .style("opacity",0)
      });

//Add legend/add and remove energetics.
  svg.append("text")
    .attr("x", width)
    .attr("y", margin.top + i*15)
    .attr("class", "legend")
    .style("fill", function(){
      return d.color = color(d.key) })
    .on("click", function(){
      var active = d.active ? false: true;
      newOpacity = active ? 0:1;
      d3.selectAll("#tag"+d.key.replace(/[\.\+,\s+\/]/g, ''))
        .transition().duration(250)
        .style("opacity", newOpacity);
      d.active = active;
      })
    .text(d.key);
  });

// HL: Found this at http://bl.ocks.org/IPWright83/4047002  //
// Now add some analysis.                                   //
// Find mean and deviation for each data point on the plot. //

  var valuelinedev = d3.svg.line()
    .interpolate("cardinal")
    .x(function(d) { return x(d.angle); })
    .y(function(d) { return y(d.mean); });

  var dataByAngle = d3.nest()
    .key(function(d) {return d.angle})
    .rollup(function(v){ return { "mean": d3.mean(v, function(d) {return d.min_en; }), 
                                   "dev":  d3.deviation(v, function(d) {return d.min_en; })}; }) 
    .entries(data);

  var isdefined = function(d){
    if(d == undefined)
      {return 0.1;}
    else 
      {return d;}
    };

  var sortedAngles = [];
  dataByAngle.forEach(function(d)
                     {return sortedAngles.push({"angle":parseFloat(d.key), "mean":d.values.mean, 
                                                 "dev":isdefined(d.values.dev)});}) 
  sortedAngles.sort(function(a,b){return parseFloat(a.angle)-parseFloat(b.angle);})
//  console.log(sortedAngles)

{#  svg.append("path")
    .attr("class", "line")
    .attr("d", valuelinedev(sortedAngles))
    .style("stroke", "grey");              #}

  var area = d3.svg.area()
    .x(function(d)  {return x(d.angle); })
    .y0(function(d) {return y(d.mean + d.dev/2.0)})
    .y1(function(d) {return y(d.mean - d.dev/2.0)});

{#  svg.append("path")
    .attr("class","area")
    .attr("d", function(d){return area(sortedAngles)})
    .style("fill-opacity", 0.25)
    .style("fill", "grey" );                          #}

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
      
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
});
</script>

{# Group by angle. #}
<script>
$( document ).ready(function(){
  var margin = {top:30, right: 100, bottom: 80, left: 50},
      width  = 800 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;
  var data = jQuery.parseJSON('{{ gbdat|safe }}');
  var dataByAngle = d3.nest()
      .key(function(d) {return d.angle})
      .rollup(function(v){ return { "mean": d3.mean(v, function(d) {return d.min_en; }), 
                                    "dev":  d3.deviation(v, function(d) {return d.min_en; })}; }) 
      .entries(data);
  var x = d3.scale.linear().range([0, width]);
  var y = d3.scale.linear().range([height, 0]);
  var xAxis = d3.svg.axis().scale(x)
                .orient("bottom").ticks(10);
  var yAxis = d3.svg.axis().scale(y)
                .orient("left").ticks(30);
  var svg = d3.select(".page")
              .append("svg")
              .attr("width",  width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  var isdefined = function(d){
        if(d == undefined)
            {return 0.1;}
        else 
            {return d;}
        };
  var sortedAngles = [];

  dataByAngle.forEach(function(d)
                      {return sortedAngles.push({"angle":parseFloat(d.key), "mean":d.values.mean, 
                       "dev":isdefined(d.values.dev)});}) 

  sortedAngles.sort(function(a,b){return parseFloat(a.angle)-parseFloat(b.angle);})
  x.domain(d3.extent(sortedAngles, function(d) { return parseFloat(d.angle);}));
  y.domain(d3.extent(sortedAngles, function(d) { return d.mean;}));

  var valueline = d3.svg.line()
      .interpolate("cardinal")
      .x(function(d) { return x(d.angle); })
      .y(function(d) { return y(d.mean); });

  svg.append("text")
    .attr("x", width/2)
    .attr("y", height+margin.top+15)
    .text("Orientation Angle");

  svg.append("text")
       .attr("transform", "rotate(-90)")
       .attr("y", -1.*margin.left)
       .attr("x", -1.*(height/2))
       .attr("dy", "1em")
       .style("text-anchor", "middle")
       .text("Mean Predicted Energy (J/m2)");

  svg.append("path")
     .attr("class", "line")
     .attr("d", valueline(sortedAngles))
     .style("stroke", "grey");

// HL: Found this at http://bl.ocks.org/IPWright83/4047002
  var area = d3.svg.area()
        .x(function(d)  {return x(d.angle); })
        .y0(function(d) {return y(d.mean + d.dev/2.0)})
        .y1(function(d) {return y(d.mean - d.dev/2.0)});

  svg.append("path")
     .attr("class","area")
     .attr("d", function(d){return area(sortedAngles)})
     .style("fill-opacity", 0.25)
     .style("fill", "grey" );
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  });
</script>

<h2> EAM Potentials </h2>
<p><button id="potentialbutton"> Show/Hide Potentials</button></p>
<script>	
	$("#potentialbutton").click(function() {
		$("#potentials").toggle();
	});
</script>
<style>
#potentials {display: none;}
</style>
<div id="potentials">
  <h3> Mendelev Potential </h3>
  <p> <img src = "{{url_for('eam_pot', filename='Fe_Mendelev.xml')}}" alt="EAM Potential" width=500 ></p>
  <h3> Ackland Potential </h3>
  <p> <img src = "{{url_for('eam_pot', filename='Fe_Ackland.xml')}}" alt="EAM Potential" width=500 ></p>
  <h3> Dudarev Potential </h3>
  <p> <img src = "{{url_for('eam_pot', filename='Fe_Dudarev.xml')}}" alt="EAM Potential" width=500 ></p>
  <h3> Mishin Potential </h3>
  <p> <img src = "{{url_for('eam_pot', filename='iron_mish.xml')}}" alt="EAM Potential" width=500 ></p>
</div>
{% endblock body %}
