{% extends "layout.html" %}
{% block body %}
  <h2> Grain Boundary Structure </h2>
  <h3> {{gbid}} </h3>
  <img src = "{{url_for('serve_img', filename=url_path, gbid=gbid, img_type='struct')}}" alt="GB structure" width=700>
	<h2> Coincident Site Lattice  </h2>
  <img src = "{{url_for('serve_img', filename=url_path, gbid=gbid, img_type='csl')}}" alt="GB structure" width=700>
  <h2> Path: {{url_path}}       </h2>
  <h3> Subdirectories of {{gbid}}: </h3> 
  <ul>
  {% for thing in stuff %}
    <li> {{ thing }} </li>
  {% endfor %}
  </ul>
{% endblock %}
