<!doctype html>
<title> Imeall</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='imeall111icon.ico') }}">
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div class=page>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <h1>Imeall</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }} </div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
